html, body {
	height: 100%;
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3{
	font-family: 'Exo 2', sans-serif;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
	border: none;
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.dropup .dropdown-menu {
    transition: max-height 0.2s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.dropup.open .dropdown-menu {
    transition: max-height 0.2s, opacity 0.2s, visibility 0s;
    max-height: 500%;
    opacity: 1;
    visibility: visible;
}

.icons-menu{
    position: absolute;
	text-align: center;
    /* top: 100%; */
    /* left: 0; */
    /* z-index: 1000; */
    display: none;
	max-width: 100%;
    min-width: 100%;
	margin: 0px;
	padding: 0px;
    /* padding: 5px 0; */
    /* margin: 2px 0 0; */
    font-size: 2em;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background: transparent;
	color: LightGray;
	box-shadow: none;
	border: none;
    /* border: 1px solid #ccc; */
    /* border: 1px solid rgba(0,0,0,.15); */
    /* border-radius: 4px; */
}

.icons-menu > li > a{
	color: LightGray;
	margin: 0px;
	padding: 20%;
	text-align: center;
}

.icons-menu > li > a:hover{
	background: rgba(20, 34, 66, 0.5);
	color: white;
}

#head-container{
	height: 100%;
	min-height: 100%;
	background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("https://github.com/data4pass/data4pass.github.io/blob/master/img/header-bg.jpg?raw=true");
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

#navbar{
	font-weight: bolder;
	padding-right: 1%;
}

#navbar > ul > li > a{
	color: LightGray;
}

#navbar > ul > li > a:hover, #navbar > ul > li > a:focus, #navbar > ul > li > a:active{
	background: rgba(20, 34, 66, 0.5);
	color: white;
}

#header-heading{
	font-weight: bold;
}

#header-desc{
}

