html, body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3{
	font-weight: bold;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
	border: none;
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
/*--
.dropup .dropdown-menu {
    transition: max-height 0.2s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.dropup.open .dropdown-menu {
    transition: max-height 0.2s, opacity 0.2s, visibility 0s;
    max-height: 500%;
    opacity: 1;
    visibility: visible;
}
--*/
.icons-menu{
    position: absolute;
	text-align: center;
    display: none;
	max-width: 100%;
    min-width: 100%;
	margin: 0px;
	padding: 0px;
    font-size: 2em;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background: transparent;
	color: LightGray;
	box-shadow: none;
	border: none;
}

.icons-menu > li > a{
	background: rgba(0, 0, 0, 0.7);
	color: LightGray;
	margin: 0px;
	padding: 20%;
	text-align: center;
	transition: background 0.5s, color 0.5s;
}

.icons-menu > li > a:hover{
	background: rgba(20, 34, 66, 0.5);
	color: white;
}

#head{
	height: 100%;
	min-height: 100%;
	/*background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("https://github.com/data4pass/data4pass.github.io/blob/master/img/header-bg.jpg?raw=true");*/
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
}

#header > img{
	transition: box-shadow 0.5s ease;
}

#header > img:hover{
	box-shadow: 0px 0px 10px lightblue;
}

#myprojects{
	height: 100%;
	min-height: 100%;
}

#projects-wrapper{
	padding: 0px;
}

.project{
	position: relative;
}

.project-image{
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.project-desc{
	color: black;
	font-weight: bold;
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

.project:hover .project-image {
	opacity: 0.1;
}

.project:hover .project-desc{
	opacity: 1;
}

/* .projects{
	padding: 0px;
}

.projects > a + div{
	display: none;
}

.projects > a:hover + div{
	display: block;
}

.project-desc{
	color: white;
	padding: 3% 3% 1% 3%;
	background-color: rgba(0, 0, 0, 0.7);
} */

#navbar{
	font-weight: bolder;
	padding-right: 1%;
}

#navbar > ul{
	background: rgba(0, 0, 0, 0.7);
}

#navbar > ul > li > a{
	color: LightGray;
	transition: background 0.5s ease, color 0.5s ease;
}

#navbar > ul > li > a:hover, #navbar > ul > li > a:focus, #navbar > ul > li > a:active{
	background: rgba(20, 34, 66, 0.5);
	color: white;
}

