@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* { 
	margin:0; 
	padding:0; 
	box-sizing:border-box; 
}

html, body{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

.separator{
	height: 0px;
	border-bottom: 3px solid #f05f40;
	width: 40px;
	margin: 5% 0% 5% 0%;
	display: inline-block;
}

.head{
	height: 100%;
	text-align: center;
	padding: 0px;
	background: url("pics/bg.jpg") no-repeat;
	background-size: cover;
	/*text-shadow: 0 0 0.36px white;*/
}

.headcont{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	padding: 0;
}

.head > .headcont > .photo{
	display: inline-block;
	width: 300px;
	box-shadow: 0 0 7px white;
}

.head > .headcont > h1{
	font-size: 20px;
	padding-top: 5%;
	color: white; 
}

.head > .headcont > p > a  {
	color: white;
	text-decoration: none;
	border-bottom: 1px dashed;
}

.head > .headcont > p > a:hover  {
	color: white;
	text-decoration: none;
	background-color: #f05f40;
	border-bottom: 1px dashed;
}

.desc{
	font-size: 15px;
	color: white;
}

.social{
	display: inline-block;
	margin: 6% 0px 5% 0px;
	height: 30px;
	width: 30px
}

.more{
	display: inline-block;
}

.morebtn{
	background-color: #f05f40;
	border: none;
    color: white;
    padding: 20% 20% 20% 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
	font-weight: bold;
	border-radius: 10%;
}

.morebtn:hover{
	box-shadow: 0 0 7px black; 
}

/* PAGE 2 */

.aboutme{
	height: 100%;
	margin: 0 auto;
    width: 80%;
}

.aboutcont{
	border: 1px solid black;
}

/* TABS */

.tabbing{
	position: relative;
	height: 100%;
	font-size: 15px;
}

.tabbing > h1{
	text-align: center;
	margin-top: 5%;
}

section > h2{
	text-transform: uppercase;
	font-size: 15px;
	margin: 1% 0% 1% 0%;
}

section > ul{
	list-style-type: none;
	list-style-position: inside;
}

section > p{
	margin-bottom: 2%;
}

main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
  text-align: center;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
  text-align: left;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before {
  content: '\f2be';
}

label[for*='2']:before {
  content: '\f02d';
}

label[for*='3']:before {
  content: '\f0f2';
}

label[for*='4']:before {
  content: '\f080';
}

label[for*='5']:before {
  content: '\f046';
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #f05f40;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4, 
#tab5:checked ~ #content5{
  display: block;
}

.notif{
	font-weight: bold;
	color: #f05f40;
}

/* FOOTER */
.footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
	font-size: 13px;
	padding-bottom: 1%;
}

.up{
	display: inline-block;
	margin-bottom: 2%;
}

.upbtn{
	background-color: #f05f40;
    padding: 25% 25% 25% 25%;
	margin: 0% 2% 1% 2%;
	color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
	font-weight: bold;
	border-radius: 10%;
}

.upbtn:hover{
	box-shadow: 0 0 7px black; 
}

.upbtn:visited{
	color: white; 
}